
%% A config file has the syntax:
%% [{Application1, [{Par11,Val11},...]},
%% ...,
%% {ApplicationN, [{ParN1,ValN1},...]}].

[
    {erlastic_search, [
        %{port, 9200},
        %{host, <<"127.0.0.1">>},
        {es_user, <<"user">>},
        {es_user_pwd, <<"pwd">>},
        {port, 9100},
        {host, <<"192.168.2.212">>}
    ]}
].